<div class="alunos-container">
    <h2>Lista de Alunos</h2>

    <table class="alunos-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Período</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
        @for (aluno of alunos.alunos; track aluno.id) {
        <tr>
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.idade }}</td>
            <td>{{ aluno.periodo }}</td>
            <td>{{ aluno.curso }}</td>
            <td>
                <button (click)="excluirAlunos(aluno.id)">Excluir</button>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>